<h1>Search Flights</h1>

<%= render 'search' %>

<% if @flights == nil %>
  <h3>Sorry, no flights were found.</h3>
<% elsif @flights.count != 0 %>
  <%= render 'search_results' %>
<% else %>
<% end %>
